<a href="https://colab.research.google.com/github/andreluizcastilho/colab/blob/main/Gabarito_Aula_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

AULA 2
# https://www.youtube.com/watch?v=wz5_MOWYias&list=PLpdAy0tYrnKw4UVhAdP7rMf01wI_AOcHE&index=2

# Projeto Ciencia de Dados: Carteira de Ações com Inteligência Artificial

- Projeto Inspiração: https://medium.com/swlh/teaching-a-machine-to-trade-stocks-like-warren-buffett-part-i-445849b208c6
- Resumo Fundamentos Empresas BR: https://fundamentus.com.br/index.php

### Criar Dicionários de Dataframes com cada empresa

In [2]:
import pandas as pd
import os

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
teste = "/content/drive/MyDrive/Colab Notebooks/HASTAG/Projeto Inteligência Artificial em Ações |  Hashtag Programação/AULA 2/balancos/balanco_ENBR3.xls"
balanco_teste = pd.read_excel(f'{teste}', sheet_name=0)

In [ ]:
balanco_teste.head()

In [ ]:
# na primeira coluna colocar o título com o nome da empresa
balanco_teste.iloc[0, 0] = 'ENBR3'

In [ ]:
# pegar 1ª linha e tornar um cabeçalho
balanco_teste.columns = balanco_teste.iloc[0]
balanco_teste = balanco_teste[1:]

In [ ]:
# tornar a 1ª coluna (que agora tem o nome da emrpesa)
balanco_teste = balanco_teste.set_index('ENBR3')

In [ ]:
#pegar aba dre
dre_teste = pd.read_excel(f'{teste}', sheet_name=1)

WARNING *** file size (64322) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [ ]:
dre_teste.head()

,"XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data",Demonstrativo de Resultado - EDP ENERGIAS DO BRASIL S/A - Trimestres Isolados,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
0,,31/12/2020,30/09/2020,30/06/2020,31/03/2020,31/12/2019,30/09/2019,30/06/2019,31/03/2019,31/12/2018,...,31/12/2012,30/09/2012,30/06/2012,31/03/2012,31/12/2011,30/09/2011,30/06/2011,31/03/2011,31/12/2010,30/09/2010
1,Receita Bruta de Vendas e/ou Serviços,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1934204.032
2,Deduções da Receita Bruta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-682720
3,Receita Líquida de Vendas e/ou Serviços,4941129.728,3453060.096,2984315.904,3605294.08,4739796.992,3915972.096,3281836.032,3290731.008,3274641.664,...,1979549.184,1624267.008,1524011.008,1439456,1355095.936,1320558.976,1341180.032,1384827.008,1308229.76,1251484.032
4,Custo de Bens e/ou Serviços Vendidos,-3471877.376,-2711427.072,-2348401.92,-2840979.968,-3911822.848,-3087122.944,-2710415.872,-2567187.968,-2682793.984,...,-1710362.88,-1315303.936,-1170727.04,-996432,-986014.016,-913516.032,-869918.016,-877841.024,-843393.984,-867990.976

In [ ]:
# na primeira coluna colocar o título com o nome da empresa
dre_teste.iloc[0, 0] = 'ENBR3'

In [ ]:
 # pegar 1ª linha e tornar um cabeçalho
dre_teste.columns = dre_teste.iloc[0]
dre_teste = dre_teste[1:]

In [ ]:
# tornar a 1ª coluna (que agora tem o nome da emrpesa)
dre_teste = dre_teste.set_index('ENBR3')

In [ ]:
# comparar arquivo raiz com o tratado
teste2 = "/content/drive/MyDrive/Colab Notebooks/HASTAG/Projeto Inteligência Artificial em Ações |  Hashtag Programação/AULA 2/balancos/balanco_ENBR3.xls"
balanco_teste2 = pd.read_excel(f'{teste2}', sheet_name=0)
balanco_teste2.head()

WARNING *** file size (64322) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

,"XLSWrite 1.34 Copyright(c) 1999,2000 Axolot Data",Balanço Patrimonial - EDP ENERGIAS DO BRASIL S/A,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
0,NaN,31/12/2020,30/09/2020,30/06/2020,31/03/2020,31/12/2019,30/09/2019,30/06/2019,31/03/2019,31/12/2018,...,31/12/2012,30/09/2012,30/06/2012,31/03/2012,31/12/2011,30/09/2011,30/06/2011,31/03/2011,31/12/2010,30/09/2010
1,Ativo Total,30291259.392,28579446.784,28214966.272,27194417.152,27489067.008,25680883.712,24435363.84,23430035.456,22772072.448,...,14429843.456,13921324.032,13383532.544,13579672.576,13662279.68,12687249.408,12411318.272,12614390.784,12810115.072,11991799.808
2,Ativo Circulante,7469079.04,7269794.816,7549493.248,7085521.92,7324975.104,7773241.856,7295756.8,7312627.2,7017730.048,...,2718661.12,2743809.024,2391142.912,2502406.912,2714873.088,2609831.936,2424448,2647692.032,2874676.992,3148182.016
3,Caixa e Equivalentes de Caixa,2735858.944,2981027.072,2935649.024,2253496.064,2638609.92,2510633.984,2325380.096,2350845.952,2203392,...,572377.984,911353.024,699342.016,859353.984,895868.032,950196.992,755308.992,1015491.008,1126449.024,1260968.96
4,Aplicações Financeiras,153990,331217.984,328300.992,238222,135263.008,244808,164236,256551.008,174463.008,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
arquivos = os.listdir("/content/drive/MyDrive/Colab Notebooks/HASTAG/Projeto Inteligência Artificial em Ações |  Hashtag Programação/AULA 2/balancos/")
for arquivo in arquivos:
  nome = arquivo[-9:-4]
  print(nome)
  if arquivo == 'balanco_ENBR3.xls':
    print(arquivo)

In [ ]:
empresas = ["ABEV3", "AZUL4", "BTOW3", "B3SA3", "BBSE3", "BRML3", "BBDC4", "BRAP4", "BBAS3", "BRKM5", "BRFS3", "BPAC11", "CRFB3", "CCRO3", "CMIG4", "HGTX3", "CIEL3", "COGN3", "CPLE6", "CSAN3", "CPFE3", "CVCB3", "CYRE3", "ECOR3", "ELET6", "EMBR3", "ENBR3", "ENGI11", "ENEV3", "EGIE3", "EQTL3", "EZTC3", "FLRY3", "GGBR4", "GOAU4", "GOLL4", "NTCO3", "HAPV3", "HYPE3", "IGTA3", "GNDI3", "ITSA4", "ITUB4", "JBSS3", "JHSF3", "KLBN11", "RENT3", "LCAM3", "LAME4", "LREN3", "MGLU3", "MRFG3", "BEEF3", "MRVE3", "MULT3", "PCAR3", "PETR4", "BRDT3", "PRIO3", "QUAL3", "RADL3", "RAIL3", "SBSP3", "SANB11", "CSNA3", "SULA11", "SUZB3", "TAEE11", "VIVT3", "TIMS3", "TOTS3", "UGPA3", "USIM5", "VALE3", "VVAR3", "WEGE3", "YDUQ3"]

# fundamentos = {
#     "ABEV3": balanco_dre_abev3,
#     "MGLU3": balanco_dre_mglu3
# }

fundamentos = {}
#arquivos = os.listdir("balancos")
arquivos = os.listdir("/content/drive/MyDrive/Colab Notebooks/HASTAG/Projeto Inteligência Artificial em Ações |  Hashtag Programação/AULA 2/balancos/")
path_balancos = "/content/drive/MyDrive/Colab Notebooks/HASTAG/Projeto Inteligência Artificial em Ações |  Hashtag Programação/AULA 2/balancos/"
for arquivo in arquivos:
    nome = arquivo[-9:-4]
    if "11" in nome:
        nome = arquivo[-10:-4]
    if nome in empresas:
        #print(nome)
        #print(arquivo)

        # pegar o balanco daquela empresa
        balanco = pd.read_excel(f'{path_balancos}{arquivo}', sheet_name=0)

        # na primeira coluna colocar o título com o nome da empresa
        balanco.iloc[0, 0] = nome

        # pegar 1ª linha e tornar um cabeçalho
        balanco.columns = balanco.iloc[0]
        balanco = balanco[1:]

        # tornar a 1ª coluna (que agora tem o nome da emrpesa)
        balanco = balanco.set_index(nome)
        dre = pd.read_excel(f'{path_balancos}{arquivo}', sheet_name=1)

        # na primeira coluna colocar o título com o nome da empresa
        dre.iloc[0, 0] = nome

        # pegar 1ª linha e tornar um cabeçalho
        dre.columns = dre.iloc[0]
        dre = dre[1:]
        
        # tornar a 1ª coluna (que agora tem o nome da emrpesa)
        dre = dre.set_index(nome)
        fundamentos[nome] = balanco.append(dre)

In [ ]:
print(fundamentos)

In [ ]:
print(len(fundamentos))

77

### Pegar Preços das Ações nas Datas Correspondentes

In [ ]:
cotacoes_df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/HASTAG/Projeto Inteligência Artificial em Ações |  Hashtag Programação/AULA 2/Cotacoes.xlsx")
cotacoes = {}
for empresa in cotacoes_df["Empresa"].unique():
    cotacoes[empresa] = cotacoes_df.loc[cotacoes_df['Empresa']==empresa, :]

In [ ]:
print(len(cotacoes))

77

In [ ]:
display(cotacoes)

In [ ]:
display(cotacoes['ABEV3'])

,Date,High,Low,Open,Close,Volume,Adj Close,Empresa
0,2012-12-20,17.376226,16.920275,17.352230,16.926273,1243126.0,12.422499,ABEV3
1,2012-12-21,17.202246,16.808285,16.926273,16.994267,1390141.0,12.472404,ABEV3
2,2012-12-26,17.090256,16.754292,17.002266,16.768290,1076609.0,12.306555,ABEV3
3,2012-12-27,16.870279,16.670300,16.722294,16.778288,1307633.0,12.448023,ABEV3
4,2012-12-28,16.916273,16.738293,16.858280,16.738293,2807786.0,12.418349,ABEV3
...,...,...,...,...,...,...,...,...
2073,2021-04-14,15.900000,15.620000,15.640000,15.810000,21466700.0,15.810000,ABEV3
2074,2021-04-15,16.030001,15.720000,15.790000,15.870000,17705700.0,15.870000,ABEV3
2075,2021-04-16,15.960000,15.720000,15.790000,15.800000,13563400.0,15.800000,ABEV3
2076,2021-04-19,16.070000,15.510000,15.540000,15.730000,20032500.0,15.730000,ABEV3
2077,2021-04-20,15.800000,15.530000,15.670000,15.620000,12697600.0,15.620000,ABEV3

### Remover empresas que tem cotações vazias da análise (mesmo após o tratamento que fizemos na hora de pegar as cotações)

In [ ]:
for empresa in empresas:
    if cotacoes[empresa].isnull().values.any():
        cotacoes.pop(empresa)
        fundamentos.pop(empresa)
empresas = list(cotacoes.keys())
print(len(empresas))

65

In [ ]:
cotacoes

### Juntar fundamentos com Preço da Ação

In [ ]:
# no cotacoes: jogar as datas para índice
# no fundamnetos:
    # trocar linhas por colunas
    # tratar as datas para formato de data do python
    # juntar os fundamentos com a coluna Adj Close das cotacoes
for empresa in fundamentos:
    tabela = fundamentos[empresa].T
    tabela.index = pd.to_datetime(tabela.index, format="%d/%m/%Y")
    tabela_cotacao = cotacoes[empresa].set_index("Date")
    tabela_cotacao = tabela_cotacao[["Adj Close"]]
    
    tabela = tabela.merge(tabela_cotacao, right_index=True, left_index=True)
    tabela.index.name = empresa
    fundamentos[empresa] = tabela
display(fundamentos["ABEV3"])

### Tratar colunas
    
1. Vamos pegar apenas empresas que possuem as mesmas colunas
2. Ajeitar colunas com nome repetido
3. Analisar valores vazios nas colunas

#### 1. Remover da análise tabelas que tem colunas diferentes

In [ ]:
colunas = list(fundamentos["ABEV3"].columns)
colunas

for empresa in empresas:
    if set(colunas) != set(fundamentos[empresa].columns):
        print(empresa)

BBDC4
BBAS3
ITUB4
SANB11

In [ ]:
colunas = list(fundamentos["ABEV3"].columns)

for empresa in empresas:
    if set(colunas) != set(fundamentos[empresa].columns):
        fundamentos.pop(empresa)
print(len(fundamentos))

61

####  2. Ajeitando colunas com o mesmo nome

In [ ]:
texto_colunas = ";".join(colunas)

colunas_modificadas = []
for coluna in colunas:
    if colunas.count(coluna) == 2 and coluna not in colunas_modificadas:
        texto_colunas = texto_colunas.replace(";" + coluna + ";",";" + coluna + "_1;", 1)
        colunas_modificadas.append(coluna)
colunas = texto_colunas.split(';')
print(colunas)

['Ativo Total', 'Ativo Circulante', 'Caixa e Equivalentes de Caixa', 'Aplicações Financeiras', 'Contas a Receber_1', 'Estoques_1', 'Ativos Biológicos_1', 'Tributos a Recuperar', 'Despesas Antecipadas_1', 'Outros Ativos Circulantes', 'Ativo Realizável a Longo Prazo', 'Aplicações Financeiras Avaliadas a Valor Justo', 'Aplicações Financeiras Avaliadas ao Custo Amortizado', 'Contas a Receber', 'Estoques', 'Ativos Biológicos', 'Tributos Diferidos_1', 'Despesas Antecipadas', 'Créditos com Partes Relacionadas', 'Outros Ativos Não Circulantes', 'Investimentos', 'Imobilizado', 'Intangível', 'Diferido', 'Passivo Total', 'Passivo Circulante', 'Obrigações Sociais e Trabalhistas', 'Fornecedores', 'Obrigações Fiscais', 'Empréstimos e Financiamentos_1', 'Passivos com Partes Relacionadas_1', 'Dividendos e JCP a Pagar', 'Outros_1', 'Provisões_1', 'Passivos sobre Ativos Não-Correntes a Venda e Descontinuados_1', 'Passivo Não Circulante', 'Empréstimos e Financiamentos', 'Passivos com Partes Relacionadas', 'Outros', 'Tributos Diferidos', 'Adiantamento para Futuro Aumento Capital_1', 'Provisões', 'Passivos sobre Ativos Não-Correntes a Venda e Descontinuados', 'Lucros e Receitas a Apropriar', 'Participação dos Acionistas Não Controladores', 'Patrimônio Líquido', 'Capital Social Realizado', 'Reservas de Capital', 'Reservas de Reavaliação', 'Reservas de Lucros', 'Lucros/Prejuízos Acumulados', 'Ajustes de Avaliação Patrimonial', 'Ajustes Acumulados de Conversão', 'Outros Resultados Abrangentes', 'Adiantamento para Futuro Aumento Capital', 'Receita Bruta de Vendas e/ou Serviços', 'Deduções da Receita Bruta', 'Receita Líquida de Vendas e/ou Serviços', 'Custo de Bens e/ou Serviços Vendidos', 'Resultado Bruto', 'Despesas Com Vendas', 'Despesas Gerais e Administrativas', 'Perdas pela Não Recuperabilidade de Ativos\xa0', 'Outras Receitas Operacionais', 'Outras Despesas Operacionais', 'Resultado da Equivalência Patrimonial', 'Financeiras', 'Receitas Financeiras', 'Despesas Financeiras', 'Resultado Não Operacional', 'Receitas', 'Despesas', 'Resultado Antes Tributação/Participações', 'Provisão para IR e Contribuição Social', 'IR Diferido', 'Participações/Contribuições Estatutárias', 'Reversão dos Juros sobre Capital Próprio', 'Part. de Acionistas Não Controladores', 'Lucro/Prejuízo do Período', 'Adj Close']

In [ ]:
# implementar as colunas nas tabelas

for empresa in fundamentos:
    fundamentos[empresa].columns = colunas

#### 3. Analisar valores vazios nas colunas

In [ ]:
# valores_vazios = {
#     "Ativo Total": 0,
#     "Passivo Total": 0,
# }
valores_vazios = dict.fromkeys(colunas, 0)
total_linhas = 0
for empresa in fundamentos:
    tabela = fundamentos[empresa]
    total_linhas += tabela.shape[0]
    for coluna in colunas:
        qtde_vazios = pd.isnull(tabela[coluna]).sum()
        valores_vazios[coluna] += qtde_vazios
print(valores_vazios)
print(total_linhas)

{'Ativo Total': 0, 'Ativo Circulante': 0, 'Caixa e Equivalentes de Caixa': 0, 'Aplicações Financeiras': 0, 'Contas a Receber_1': 0, 'Estoques_1': 0, 'Ativos Biológicos_1': 0, 'Tributos a Recuperar': 0, 'Despesas Antecipadas_1': 0, 'Outros Ativos Circulantes': 0, 'Ativo Realizável a Longo Prazo': 0, 'Aplicações Financeiras Avaliadas a Valor Justo': 0, 'Aplicações Financeiras Avaliadas ao Custo Amortizado': 0, 'Contas a Receber': 0, 'Estoques': 0, 'Ativos Biológicos': 0, 'Tributos Diferidos_1': 0, 'Despesas Antecipadas': 0, 'Créditos com Partes Relacionadas': 0, 'Outros Ativos Não Circulantes': 0, 'Investimentos': 0, 'Imobilizado': 0, 'Intangível': 0, 'Diferido': 0, 'Passivo Total': 0, 'Passivo Circulante': 0, 'Obrigações Sociais e Trabalhistas': 0, 'Fornecedores': 0, 'Obrigações Fiscais': 0, 'Empréstimos e Financiamentos_1': 0, 'Passivos com Partes Relacionadas_1': 0, 'Dividendos e JCP a Pagar': 0, 'Outros_1': 0, 'Provisões_1': 0, 'Passivos sobre Ativos Não-Correntes a Venda e Descontinuados_1': 0, 'Passivo Não Circulante': 0, 'Empréstimos e Financiamentos': 0, 'Passivos com Partes Relacionadas': 0, 'Outros': 0, 'Tributos Diferidos': 0, 'Adiantamento para Futuro Aumento Capital_1': 0, 'Provisões': 0, 'Passivos sobre Ativos Não-Correntes a Venda e Descontinuados': 0, 'Lucros e Receitas a Apropriar': 0, 'Participação dos Acionistas Não Controladores': 0, 'Patrimônio Líquido': 0, 'Capital Social Realizado': 0, 'Reservas de Capital': 0, 'Reservas de Reavaliação': 0, 'Reservas de Lucros': 0, 'Lucros/Prejuízos Acumulados': 0, 'Ajustes de Avaliação Patrimonial': 0, 'Ajustes Acumulados de Conversão': 0, 'Outros Resultados Abrangentes': 0, 'Adiantamento para Futuro Aumento Capital': 0, 'Receita Bruta de Vendas e/ou Serviços': 2004, 'Deduções da Receita Bruta': 2004, 'Receita Líquida de Vendas e/ou Serviços': 2, 'Custo de Bens e/ou Serviços Vendidos': 2, 'Resultado Bruto': 2, 'Despesas Com Vendas': 2, 'Despesas Gerais e Administrativas': 2, 'Perdas pela Não Recuperabilidade de Ativos\xa0': 2, 'Outras Receitas Operacionais': 2, 'Outras Despesas Operacionais': 2, 'Resultado da Equivalência Patrimonial': 2, 'Financeiras': 2, 'Receitas Financeiras': 2, 'Despesas Financeiras': 2, 'Resultado Não Operacional': 2004, 'Receitas': 2004, 'Despesas': 2004, 'Resultado Antes Tributação/Participações': 2, 'Provisão para IR e Contribuição Social': 2, 'IR Diferido': 2, 'Participações/Contribuições Estatutárias': 2004, 'Reversão dos Juros sobre Capital Próprio': 2004, 'Part. de Acionistas Não Controladores': 58, 'Lucro/Prejuízo do Período': 2, 'Adj Close': 0}
2004

In [ ]:
remover_colunas = []
for coluna in valores_vazios:
    if valores_vazios[coluna] > 50:
        remover_colunas.append(coluna)

for empresa in fundamentos:
    fundamentos[empresa] = fundamentos[empresa].drop(remover_colunas, axis=1)
    fundamentos[empresa] = fundamentos[empresa].ffill()

In [ ]:
fundamentos["ABEV3"].shape

(33, 72)

In [ ]:
#display(fundamentos["ABEV3"])
fundamentos["ABEV3"].head()

,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Aplicações Financeiras,Contas a Receber_1,Estoques_1,Ativos Biológicos_1,Tributos a Recuperar,Despesas Antecipadas_1,Outros Ativos Circulantes,...,Outras Despesas Operacionais,Resultado da Equivalência Patrimonial,Financeiras,Receitas Financeiras,Despesas Financeiras,Resultado Antes Tributação/Participações,Provisão para IR e Contribuição Social,IR Diferido,Lucro/Prejuízo do Período,Adj Close
ABEV3,,,,,,,,,,,,,,,,,,,,,
2020-12-31,1.251966e+08,3.534261e+07,1.709034e+07,1700028.032,4303137.792,7605904.896,0,3287141.888,293552.000,1062513.984,...,-758254.976,-9428,1040928.960,2144160.000,-1103231.104,8464308.224,93644.000,-1667579.008,6786009.600,15.575767
2020-09-30,1.270568e+08,3.909879e+07,2.166045e+07,1442923.008,4156922.880,7341836.800,0,3472880.896,298303.008,725478.976,...,-236824.992,-11002,-1144775.936,369476.992,-1514253.056,2431040.000,-415548.000,343476.000,2274800.896,12.159024
2020-06-30,1.213930e+08,3.626813e+07,1.743895e+07,44823.000,4201583.104,7771618.816,0,5390340.096,356411.008,1064401.984,...,-246687.008,-16237,-793734.976,236606.000,-1030340.992,1108173.056,-431944.992,595088.000,1226798.976,13.710416
2020-03-31,1.136876e+08,3.108636e+07,1.320447e+07,44823.000,3394298.112,7752655.872,0,5266407.936,447473.984,976225.024,...,-62108.000,-6617,-1536866.944,245776.000,-1782642.944,1490919.936,-295032.992,15365.000,1091783.936,11.557861
2019-12-31,1.017429e+08,2.762114e+07,1.190067e+07,14558.000,4495524.864,5978556.928,0,4074127.104,512532.000,645171.968,...,-405948.032,-11195,-1564263.936,234065.056,-1798328.832,3755047.680,1317924.992,-853995.008,4099704.832,18.102791

### Criando os rótulos: Comprar, Não Comprar ou Vender?

Não queremos saber quando vender, mas inclui essa categoria para conseguir identificar quando que o nosso modelo vai sugerir uma compra quando na verdade o melhor momento era vender. Isso significa que o modelo errou "mais" do que quando sugeriu comprar e simplesmente o certo era não comprar

Regra: 
1. Subiu mais do que o Ibovespa (ou caiu menos) -> Comprar (Valor = 2)
2. Subiu menos do que o Ibovespa até Ibovespa - 2% (ou caiu mais do que Ibovespa até Ibovespa -2%) -> Não Comprar (Valor = 1)
3. Subiu menos do que o Ibovespa - 2% (ou caiu mais do que Ibovespa -2%) -> Vender (Valor = 0)

In [ ]:
import pandas_datareader.data as web

!pip install yfinance --upgrade --no-cache-dir
import yfinance as yf
yf.pdr_override()

In [ ]:
ibov = web.get_data_yahoo('^BVSP')

[*********************100%***********************]  1 of 1 completed

In [ ]:
ibov

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1993-04-27,24.799999,25.400000,24.500000,24.500000,24.500000,0
1993-04-28,24.500000,24.600000,23.700001,24.299999,24.299999,0
1993-04-29,24.299999,24.799999,23.700001,23.700001,23.700001,0
1993-04-30,23.700001,24.200001,23.700001,24.100000,24.100000,0
1993-05-03,24.100000,24.400000,23.799999,24.100000,24.100000,0
...,...,...,...,...,...,...
2023-05-25,108800.000000,111115.000000,108800.000000,110054.000000,110054.000000,14745300
2023-05-26,110058.000000,111706.000000,109900.000000,110906.000000,110906.000000,11019700
2023-05-29,110906.000000,111168.000000,110195.000000,110333.000000,110333.000000,5913000
2023-05-30,110333.000000,111291.000000,108552.000000,108967.000000,108967.000000,11588000
2023-05-31,108967.031250,108984.609375,108193.406250,108470.460938,108470.460938,0

In [ ]:
data_inicial = '2012-12-20'
data_final = '2021-04-20'

from datetime import datetime
from pandas_datareader import data as web
df_ibov = web.get_data_yahoo('^BVSP', start=data_inicial, end=data_final)

[*********************100%***********************]  1 of 1 completed

In [ ]:
df_ibov

                Open      High       Low     Close  Adj Close    Volume
Date
2012-12-20   60992.0   61276.0   60622.0   61276.0    61276.0   3083400
2012-12-21   61271.0   61271.0   60221.0   61007.0    61007.0   3157400
2012-12-26   61003.0   61322.0   60861.0   60960.0    60960.0   2598000
2012-12-27   60964.0   61191.0   60233.0   60416.0    60416.0   2852600
2012-12-28   60416.0   61066.0   60416.0   60952.0    60952.0   2626000
...              ...       ...       ...       ...        ...       ...
2021-04-13  118809.0  119529.0  118041.0  119297.0   119297.0   8977600
2021-04-14  119298.0  120871.0  119298.0  120295.0   120295.0  10076600
2021-04-15  120290.0  121409.0  120084.0  120701.0   120701.0   7948100
2021-04-16  120701.0  121333.0  120199.0  121114.0   121114.0   7945600
2021-04-19  121116.0  121974.0  120682.0  120934.0   120934.0  10028100

[2056 rows x 6 columns]

In [ ]:
datas = fundamentos["ABEV3"].index
datas

DatetimeIndex(['2020-12-31', '2020-09-30', '2020-06-30', '2020-03-31',
               '2019-12-31', '2019-09-30', '2019-06-30', '2019-03-31',
               '2018-12-31', '2018-09-30', '2018-06-30', '2018-03-31',
               '2017-12-31', '2017-09-30', '2017-06-30', '2017-03-31',
               '2016-12-31', '2016-09-30', '2016-06-30', '2016-03-31',
               '2015-12-31', '2015-09-30', '2015-06-30', '2015-03-31',
               '2014-12-31', '2014-09-30', '2014-06-30', '2014-03-31',
               '2013-12-31', '2013-09-30', '2013-06-30', '2013-03-31',
               '2012-12-31'],
              dtype='datetime64[ns]', name='ABEV3', freq='-1Q-DEC')

In [ ]:
import numpy as np

for data in datas:
    if data not in df_ibov.index:
        df_ibov.loc[data] = np.nan

df_ibov

               Open     High      Low    Close  Adj Close     Volume
Date
2012-12-20  60992.0  61276.0  60622.0  61276.0    61276.0  3083400.0
2012-12-21  61271.0  61271.0  60221.0  61007.0    61007.0  3157400.0
2012-12-26  61003.0  61322.0  60861.0  60960.0    60960.0  2598000.0
2012-12-27  60964.0  61191.0  60233.0  60416.0    60416.0  2852600.0
2012-12-28  60416.0  61066.0  60416.0  60952.0    60952.0  2626000.0
...             ...      ...      ...      ...        ...        ...
2014-12-31      NaN      NaN      NaN      NaN        NaN        NaN
2013-12-31      NaN      NaN      NaN      NaN        NaN        NaN
2013-06-30      NaN      NaN      NaN      NaN        NaN        NaN
2013-03-31      NaN      NaN      NaN      NaN        NaN        NaN
2012-12-31      NaN      NaN      NaN      NaN        NaN        NaN

[2073 rows x 6 columns]

In [ ]:
for data in datas:
    if data not in df_ibov.index:
        df_ibov.loc[data] = np.nan

# Ficar em ordem crescente
df_ibov = df_ibov.sort_index()

# Pega os dados da linha anterior e preenche a atual
df_ibov = df_ibov.ffill()

# Modifica o nome da coluna
df_ibov = df_ibov.rename(columns={"Adj Close": "IBOV"})

df_ibov

                Open      High       Low     Close      IBOV      Volume
Date
2012-12-20   60992.0   61276.0   60622.0   61276.0   61276.0   3083400.0
2012-12-21   61271.0   61271.0   60221.0   61007.0   61007.0   3157400.0
2012-12-26   61003.0   61322.0   60861.0   60960.0   60960.0   2598000.0
2012-12-27   60964.0   61191.0   60233.0   60416.0   60416.0   2852600.0
2012-12-28   60416.0   61066.0   60416.0   60952.0   60952.0   2626000.0
...              ...       ...       ...       ...       ...         ...
2021-04-13  118809.0  119529.0  118041.0  119297.0  119297.0   8977600.0
2021-04-14  119298.0  120871.0  119298.0  120295.0  120295.0  10076600.0
2021-04-15  120290.0  121409.0  120084.0  120701.0  120701.0   7948100.0
2021-04-16  120701.0  121333.0  120199.0  121114.0  121114.0   7945600.0
2021-04-19  121116.0  121974.0  120682.0  120934.0  120934.0  10028100.0

[2073 rows x 6 columns]

In [ ]:
for empresa in fundamentos:
    fundamentos[empresa] = fundamentos[empresa].merge(df_ibov[["IBOV"]], left_index=True, right_index=True)
display(fundamentos["ABEV3"])

In [ ]:
# tornar os nossos indicadores em percentuais
# fundamento%tri = fundamento tr / fundamento tri anterior
# cotacao%tri = cotacao tri seguinte / cotacao tri

for empresa in fundamentos:
    fundamento = fundamentos[empresa]
    fundamento = fundamento.sort_index()
    for coluna in fundamento:
        if "Adj Close" in coluna or "IBOV" in coluna:
            # pegar cotação seguinte
            fundamento["Adj Close"] = fundamento["Adj Close"].shift(-1) / fundamento["Adj Close"] - 1
            fundamento["IBOV"] = fundamento["IBOV"].shift(-1) / fundamento["IBOV"] - 1
            fundamento["Resultado"] = fundamento["Adj Close"] - fundamento["IBOV"]
            condicoes = [
                (fundamento["Resultado"] > 0),
                (fundamento["Resultado"] < 0) & (fundamento["Resultado"] >= -0.02),
                (fundamento["Resultado"] < -0.02)
            ]
            valores = [2, 1, 0]
            fundamento["Decisao"] = np.select(condicoes, valores)
        else:
            # pegar a cotação anterior
            condicoes = [
                (fundamento[coluna].shift(1) > 0) & (fundamento[coluna] < 0),
                (fundamento[coluna].shift(1) < 0) & (fundamento[coluna] > 0),
                (fundamento[coluna].shift(1) < 0) & (fundamento[coluna] < 0),
                (fundamento[coluna].shift(1) == 0) & (fundamento[coluna] > 0),
                (fundamento[coluna].shift(1) == 0) & (fundamento[coluna] < 0),
                (fundamento[coluna].shift(1) < 0) & (fundamento[coluna] == 0),
            ]
            valores = [
                -1,
                1,
                (abs(fundamento[coluna].shift(1)) - abs(fundamento[coluna])) / abs(fundamento[coluna].shift(1)),
                1,
                -1,
                1,
            ]
            fundamento[coluna] = np.select(condicoes, valores, default=fundamento[coluna] / fundamento[coluna].shift(1) - 1)
    fundamentos[empresa] = fundamento
display(fundamentos["ABEV3"])

In [ ]:
# remover valores vazios
colunas = list(fundamentos["ABEV3"].columns)
valores_vazios = dict.fromkeys(colunas, 0)
total_linhas = 0
for empresa in fundamentos:
    tabela = fundamentos[empresa]
    total_linhas += tabela.shape[0]
    for coluna in colunas:
        qtde_vazios = pd.isnull(tabela[coluna]).sum()
        valores_vazios[coluna] += qtde_vazios
print(valores_vazios)
print(total_linhas)

In [ ]:
remover_colunas = []
for coluna in valores_vazios:
    if valores_vazios[coluna] > (total_linhas / 3):
        remover_colunas.append(coluna)

for empresa in fundamentos:
    fundamentos[empresa] = fundamentos[empresa].drop(remover_colunas, axis=1)
    fundamentos[empresa] = fundamentos[empresa].fillna(0)

In [ ]:
for empresa in fundamentos:
    fundamentos[empresa] = fundamentos[empresa].drop(["Adj Close", "IBOV", "Resultado"], axis=1)
print(fundamentos["ABEV3"].shape)

In [ ]:
copia_fundamentos = fundamentos.copy()

In [ ]:
base_dados = pd.DataFrame()
for empresa in copia_fundamentos:
    copia_fundamentos[empresa] = copia_fundamentos[empresa][1:-1]
    copia_fundamentos[empresa] = copia_fundamentos[empresa].reset_index(drop=True)
    base_dados = base_dados.append(copia_fundamentos[empresa])
display(base_dados)

In [ ]:
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

display(base_dados['Decisao'].value_counts(normalize=True).map("{:.1%}".format))
fig = px.histogram(base_dados, x="Decisao", color="Decisao")
fig.show()

### Hora de tornar tudo 1 dataframe só

### Análise Exploratória

#### 1. Quantidade de Respostas em cada Tipo de Decisão

#### 2. Correlação

#### Vamos remover Todas as Colunas "já explicadas" pelo Ativo Total

### Vamos partir para Feature Selection

Será que todas essas features são importantes mesmo para o nosso modelo? Muitas features nem sempre é bom, se pudermos reduzir sem perder eficiência do nosso modelo, melhor

Aqui temos 2 alternativas:

1. Seguir com todas as features e depois tentar melhorar o nosso modelo
2. Usar algum critério para selecionar as melhores features para prever e criar o modelo a partir apenas dessa seleção menor de features

Vou seguir com a opção 2, porque é mais rápida e, caso dê certo, facilita a nossa vida. Se der errado, a gente volta aqui e refaz o processo

### Aplicação do StandardScaler para melhorar nossos modelos de MachineLearning

### Separação dos dados em treino e teste

### Criação de um Dummy Classifier (Uma baseline para ver se os nossos modelos são melhores do que puro chute)

### Métricas de Avaliação

- Precisão vai ser nossa métrica principal
- Recall pode ser útil, mas precisão no caso de ações é mt mais importante.

Explicação: Foto dos Gatos e Cachorros na Wikipedia: https://en.wikipedia.org/wiki/Precision_and_recall

### Modelos que vamos testar
- AdaBoost
- Decision Tree
- Random Forest
- ExtraTree
- Gradient Boost
- K Nearest Neighbors (KNN)
- Logistic Regression
- Naive Bayes
- Support Vector Machine (SVM)
- Rede Neural

### Agora vamos ao tunning do modelo

- é bom sempre incluir no tuning os parâmetros "padrões" do modelo, se não poder ser que vc só encontre resultados piores

### Vamos seguir então com o Modelo BLA tunado para ser o nosso modelo

- Agora ao que interessa...será que vamos conseguir escolher boas ações e ter uma carteira rentável?
- Para isso, temos que pegar o último Trimestre (que não usamos para treinar o modelo nem testar) e ver como ele teria saído até o momento em que gravo esse vídeo...

### Repetindo os passos com a base fundamentos só que pegando apenas o último tri de cada empresa

### Agora fazemos a previsão de decisões